<div class="border-bottom box-shadow">
  <div class="offset-1 d-flex flex-column flex-md-row align-items-center mb-2 px-md-4  bg-white" style="width: 80%">
    <a class="navbar-brand" href="#">
      <img src="/assets/images/site-logo.png" width="100">
    </a>
    <nav class="mr-auto">
      <a class="p-2 text-secondary" href="#"><i class="fa fa-fw fa-list" data-content=""></i></a>
      <a class="p-2 text-secondary" href="#"><i class="fa fa-fw fa-clock-o" data-content=""></i></a>
      <a class="p-2 text-secondary" href="#"><i class="fa fa-fw fa-fire" data-content=""></i></a>
      <a class="p-2 text-secondary" href="#"><i class="fa fa-fw fa-tags" data-content=""></i></a>
      <a class="p-2 text-secondary" href="#"><i class="fa fa-fw fa-user" data-content=""></i></a>
      <a class="p-2 text-secondary" href="#"><i class="fa fa-fw fa-group" data-content=""></i></a>

    </nav>
    <nav>
      <a class="mr-auto p-2 text-dark" href="#"><i class="fa fa-search fa-fw"></i></a>
      <a class="p-2 text-secondary" href="#">Register</a>
      <a class="p-2 text-secondary" href="#">Login</a>
    </nav>


  </div>
</div>