<div class="row mt-2 mb-3">
  <div class="col-1"></div>
  <div class="col">CATEGORIES</div>
</div>
<div class="row mb-4" *ngFor="let category of categoryData.categories">
  <div class="col-1"> </div>
  <div class="col-1 row icon d-flex justify-content-end">
    <div [style.background-color]="category.bgColor" class="col-6 rounded-circle d-flex flex-column justify-content-center ">
      <i [ngClass]="['fa ',category.icon,'fa-1x']" [style.color]="'#fff'" data-content=""> </i>
    </div>
  </div>
  <div class="col-4">
    <div class="row ">
      <span class="col-6 content">
        <a href="">{{category.name}}</a>
      </span>
      <div class="w-100"></div>
      <span class="col">
        <small class="text-muted">{{category.description}}</small>
      </span>
    </div>
  </div>
  <div class="col-1">
    <div class="row ">
      <span class="col-6 d-flex  justify-content-center">
        {{category.topic_count | numberConvert:'K'}}
      </span>
      <div class="w-100"></div>
      <span class="col ">
        <small class="Display-4" [style.color]="'#777'">TOPICS</small>
      </span>
    </div>
  </div>
  <div class="col-1">
    <div class="row ">
      <span class="col-6 d-flex justify-content-center">
        {{category.post_count | numberConvert:'K'}}
      </span>
      <div class="w-100"></div>
      <span class="col ">
        <small class="Display-4" [style.color]="'#777'">POSTS</small>
      </span>
    </div>
  </div>
  <div class="col-2">
    <div class="card text-center border-top-0 border-right-0 border-bottom-0" [ngStyle]="{'border-style':'solid','border-width':'5px','border-color':category.posts[0].user.iconbgColor}">
      <div class="card-body">
        <a class="card-title " href=""><small >Card title</small></a>
        <small class="card-text">This card has supporting text below as a natural lead-in to additional content.</small>
        
      </div>
    </div>
  </div>
  <div class="col-1"></div>

</div>