<div class="row">
    <div class="col-md-1">
        <i class="fa fa-angle-double-up pointer fa-fw pagetop"></i>
    </div>
    <div class="col-md-1">
        <i class="fa fa-angle-up pointer fa-fw pageup"></i>
    </div>
    <div class="col-md-4">
        <small> 1 Out of 100 </small>
    </div>
    <div class="col-md-1">
        <i class="fa fa-angle-down pointer fa-fw pagedown"></i>
    </div>
    <div class="col-md-1">
        <i class="fa fa-angle-double-down pointer fa-fw pagebottom"></i>
    </div>
</div>
<div class="row">
    <div class="col-md-10">
        <ngb-progressbar type="info" [value]="50"></ngb-progressbar>
    </div>
</div>